

body{
    background-color: black;
    height:10000px;
    color:#c2a83e;
    font-family: 'WindSong', cursive;


}
#TheQuacken{
    width: 100%; 
    max-width: 100%;
    margin:0%;
    /* found on geek for geeks to proporitonally change photos */
    height:auto;
    position:absolute;
    left:0;
    top:0;
}
h1 {
    position:absolute;
    left:9%;
    top:13%;
    font-size: 5em;
    text-shadow: 2px 2px 4px white;
}
p{
    position: absolute;
    top: 1000px;
    left:20%
}
h2{

    position: absolute;
    left:12%;
    top: 900px;
    font-size:1.3em;

}
p1{
    position: absolute;
    top: 1100px;
    left:16%;
    color: white;
}
#second{
    position: absolute;
    top: 850px;
    left:50%;
}
#mydiv{
    position:absolute;
    left:50%;
    width: 75px;
    height: 20px;
    background-color: blueviolet;
}