body{
    background-color: black;
    height:100000px;
}
#TheQuacken{
    width: 100%; 
    max-width: 100%;
    margin:0%;
    /* found on geek for geeks to proporitonally change photos */
    height:auto;
    position:absolute;
    left:0;
    top:0;
}
h1 {
    position:absolute;
    left:25%;
    color:#c2a83e;
    font-family: cursive;
}
p{
    position: absolute;
    top: 1000px;
    color:white;
}
h2{
    position: absolute;
    bottom: 1000px;
    color:white;

}